################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Vivaldi/bin/Debug
/Vivaldi/obj/Debug
/.vs/Vivaldi/v16
/packages
