<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="requestURL" value="http://190.60.79.118:8081/autenticacion/v1/" />
      <add key="requestURLIcfes" value="https://172.27.244.56:8081/api/vivaldi/" />
      <add key="autenticar" value="accesos/autenticar" />
      <add key="generarToken" value="otp/generarToken" />
      <add key="cerrarSesion" value="accesos/cerrar-sesion" />
      <add key="cambioClave" value="accesos/cambio-clave" />
      <add key="verificarToken" value="otp/verificarToken/?token=" />
      <add key="listarTramites" value="tramite/tipo-tramite/" />
      <add key="validarUsuarioActivo" value="accesos/validar-usuario-activo" />
      <add key="registrarLog" value="log/registrar" />
      <add key="verificacionBiometrica" value="recepcion-biometrica/verificacion/biometrica" />
      <add key="verificacionBiografica" value="recepcion-biometrica/verificacion/biografica" />
      <add key="key" value="configuracion/configuracion/pass_huella" />
      <add key="key3Des" value="entidad/clave/" />
      <add key="verificacionDatos" value="resultado/" />
      <add key="tratamientoDatos" value="recepcion-biometrica/estampas/pdf" />

      <add key="datosUsuario" value="usuario/" />
      <add key="sitios" value="sitios?usuario_id=" />
      <add key="eventoactivo" value="evento-activo?prueba_id=" />
      <add key="eventos" value="listar-eventos?prueba_id=" />
      <add key="salones" value="salones" />
      <add key="examinandos" value="examinandos" />
      <add key="motivos" value="motivos" />
      <add key="InsertarReporte" value="reporte" />
      <add key="huellasconsumidas" value="huellas-consumidas?pruebaid=" />
      <add key="buscarexaminando" value="buscar-examinando" />
      <add key="consultarHuella" value="consultar-huella" />
      <add key="consultarHuellaSalon" value="consultar-huella-salon" />
      <add key="contadoreshuellas" value="contadores-huellas" />
      <add key="contadoreshuellasevento" value="contadores-huellas-evento" />
      <add key="reportepruebasitio" value="reporte-prueba-sitio" />
      <add key="reportepruebasitioevento" value="reporte-prueba-sitio-evento" />

      <add key="version" value="1.0" />
      <add key="hostEmail" value="173.203.187.10" />
      <add key="portEmail" value="587" />
      <add key="userEmail" value="l025rWos/MJAHNMlbLKjIRfBmRFvNadqFmkKyJk/LypBfsdzv62rkdgyd45Uy9Zr" />
      <add key="passEmail" value="Fje0PLxiO3Wn0UFHCS/2aw==" />
      <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>